

$color-fonts: #344258;
$color-fontslight: #ffffff;

$color-dark: #0d1b2b;
$color-lightdark: #243448;

$color-link: #398bd4;


$border-color: #00264c;
$border-color2: rgba(84, 102, 130, .33);




$transition: all .5s ease;
